  
.movie-box{
    position:absolute;
    margin-top: 20px;
    left:500px;
    height:750px;
    width: 700px;
    object-fit: cover;
}

.single-image{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 400px;
    filter: brightness(70%);
    z-index: 1 ;
}
.movie-description{
    position: relative;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    max-width: 500px;
    font-family: 'Noto Sans', sans-serif;

}.title{
    position: relative;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 50px;
    margin-top: 10px;
    color: red;

}
.text-area{
     
    position: absolute;
    margin-top: 30px;
    margin-bottom: 40px;
    height:400px;
}

.right-texts{
    position: absolute;
    height: 80px;
    width: 220px;
    left: 550px;
    bottom: 250px;
    z-index: 10000;
}

.imdb{
    position: relative;
    color:white;
  
    filter: blur(0.5px);
    font-size: large;
    z-index: 10000;
}
.language{
    color:white;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    filter: blur(0.5px);
}


.netflix-data-image{
    max-width: 350px;
    margin-left: 50px;
    position: relative;
    margin-top: 20px;
}

.netflix-today-image{
    max-width: 350px;
    margin-left: 50px;
    position: relative;
    top:-5px; 
}
.gray-area{
    height: 450px;
    background-color: #181818;    
}

.main-image-button{
    position: relative;
    bottom: 510px;
    left: 50px;
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    border-color: white;
    height: 40px;
    width: 150px;
    z-index: 10000;

}.main-image-button:hover{
    filter: brightness(80%)

}
 .play-icon{
    position: relative;
    right: 18px;
    bottom: 3px;
 }

@media(max-width:821px){

    .movie-box{
        position:absolute;
         
        left:200px;
        height:360px;
        width: 420px;
        object-fit: cover;
    }


    .right-texts{
        position: absolute;
        color:white;
        z-index: 100000;
        left:55px;
        top:415px;
        
        
    }.imdb{
        position: relative;
        color:white;
        
        filter: blur(0.5px);
        font-size: small;
        z-index: 10000;
    }
    .language{
        color:white;
        position: relative;
        bottom: 36px;
        left: 80px;
        font-family: 'Noto Sans', sans-serif;
        filter: blur(0.5px);
        font-size: small;
    }
    
    
    .single-image{
        position: relative;
        
        object-fit: cover;
        width: 100%;
        height: 300px;
        filter: brightness(70%);
        z-index: 1 ;
    }
     .play-icon{
        position: relative;
        right: 18px;
        bottom: 2px;
     }.main-image-button{
        
        font-size: 1.2rem;
        font-weight: 900;
        height: 40px;
        width: 110px;
        bottom: 510px;
    
    } .text-area{
     
        position: absolute;
        margin-top: 30px;
        margin-bottom: 40px;
        height: 250px;
    }
    .title{
        font-size: 1.5rem;
         
    }
 }

 @media(max-width:376px) {

    .title{
         position: relative;
         bottom:14px;
         font-size: 1.3rem;
         margin:0 0 0 10px;
         padding:0%;
         
    }
    .movie-box{
        position:absolute;
         
        left:0px;
        height:100px;
        width: 10vw;
        object-fit: cover;
    }
    .netflix-today-image{
        margin: 4px 10px;
        height: 42px;
        max-width: 350px;
    }
 

    .text-area{
        margin-top: 30px;
      
        height: 190px;
        width: 100vw;
    }
    .movie-description{
        margin-left:  10px;
        margin-right:  10px;
        margin-top:  0px;
        max-width:  350px;
        font-size: small;
    }
    .single-image{
        width: 375px;
        height: 250px;
    }
    .netflix-data-image{
        max-width: 350px;
        margin:10px 10px;
        margin:0 0 0 10px
         
    }.gray-area{
        height: 300px;
        background-color: #181818;  
        width:100vw;  
        margin:0;
        padding:0;
    }
    .imdb{
    bottom: 93px;
    font-size: small;
    }
    .language{
         
        bottom:130px;
        left: 150px;
        font-size: small;
        width: 90px;
    }
    .main-image-button{
     
    bottom: 340px;
    left: 20px;
    
    height: 32px;
    width: 110px;
 

}
   
    
 }
 