<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid navbar-div">
      <a class="navbar-brand navbar-text navbar-logo" href="#"  >Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link navbar-text" aria-current="page"  href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-text" href="/movie">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-text" href="/movie">Free to me</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-text" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item navbar-text" href="#">Action</a></li>
              <li><a class="dropdown-item navbar-text" href="#">Another action</a></li>
              <li><hr class="dropdown-divider navbar-text"></li>
              <li><a class="dropdown-item navbar-text" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Premium</a>
          </li>
        </ul>
        <div class="search-container">
        <form action="" method="">
          <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
          <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
        </form>
      </div>
          <a href="#" class="button">Search</a>
          <br>
       
      </div>
    </div>
  </nav>