.card{
    height: 250px;
    margin :10px 10px 10px 10px;
    border-radius:0;
    border: 0;
    margin-bottom: 20px;
    background-color: black !important;
}

 .single-image{
   height: 230px;
 }
 .movie-section{
    position: absolute;
    left: 130px;
 }
 body{
    background-color: black !important;
 }

 @media(max-width:821px){
   .movie-section{
     left: 31px;
     height:1550px;
   }
 }

 @media(max-width:376px){
  .movie-section{
    position: absolute;
 
    padding: 0%;
    right: 41px !important;
   }
  //.card{
  //   margin:0;
  //   width:100vw !important;
 
  // }.single-image{
  //   height: 230px;
  //   width: 375px;
  //   margin:0%;
  //   padding:0%;
  // }
}