 
        <br>
        <div class="movie-section">
            <div class="row">
                <div  *ngFor="let movie of searchedMovies.results" class="card col-md-2" >
                    <div >
                        
                        <img class="card-img-top image-size single-image" src="{{movie.backdrop_path}}" alt="Card image cap" >
                    </div>
                    <br>
                    <br>
                </div>
            </div>

        </div>
  




    