.card{
    height: 250px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius:0;
    border: 0;
    margin-bottom: 20px;
    background-color: black !important;
}

 
 .movie-section{
    position: relative;
    left: 130px;
 }
 body{
    background-color: black !important;
 }