<body>
    <h2 class="">Card Component</h2>
    <div class="card">
        <h2 class="card-title">Stardust Stardust Stardust</h2>
        <p class="card-body">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Suspendisse et
            est blandit nulla facilisis efficitur porta
            sed libero. Nullam convallis, lectus vel 
            malesuada vehicula, diam lectus sagittis
            nulla, ut hendrerit sem ligula et nulla.
        </p>
        <img class="card-image" src="https://picsum.photos/id/1/200/300">
    </div>

    



</body>