
  <div class="horizontal">

  <div *ngFor="let movie of allMovies.d" class="container all-movies " >
    
    

        <div class="card" >
            <img class="card-img-top" src="{{movie.i.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Title: {{movie.l}}</h5>
               
              <p>Year: {{movie.y}}</p>
              <p>Rank: {{movie.rank}}</p>
              <p>Stars: {{movie.s}}</p>
              
            </div>
          </div>
    </div>

    



  </div>