 
  
 <div class="body">
  
  <div class="main-image-area">
    <img src="{{nowPlaying.backdrop_path}}"  class="main-image" >
    <div class="main-movie-text-area">
      <h2 class="main-image-title"  >{{nowPlaying.title}}</h2>
      <p class="main-image-text">{{nowPlaying.overview | descSlice:innerWidth }} </p>

      <button class="main-image-button">Play</button>
      <!-- <button class="main-image-button">Watch Later</button> -->
    </div>
  </div>
  
  <div class="movies-section carousel-wrap">
    <h2 class="section-titles">Populer</h2>
    <owl-carousel-o [options]="customOptions"   >
      <ng-template carouselSlide *ngFor="let movie of popularMovie?.results" >  
        <div class="card" (click)="singleMovieNavigate($event,movie.id)">
          <p class="movie-title" >{{movie.title}}</p>
          <img class="card-img-top image-size single-image" src="{{movie.backdrop_path}}" alt="Card image cap" >
          <!-- [routerLink] = "['/detail']" -->

        </div>
      </ng-template> 
    </owl-carousel-o>
    <div class="chevrons">
      <fa-icon [icon]="faChevronCircleRight" class="chevronRight"></fa-icon>
      
      <fa-icon [icon]="faChevronCircleLeft" class="chevronLeft"></fa-icon>
    </div>
    


    <h2 class="section-titles">Top Rated  </h2>
    <owl-carousel-o [options]="customOptions"   >
      <ng-template carouselSlide *ngFor="let movie of topRated?.results" >  
        <div class="card" (click)="singleMovieNavigate($event,movie.id)">
          <p class="movie-title">{{movie.title}}</p>
          <img class="card-img-top image-size single-image" src="{{movie.backdrop_path}}" alt="Card image cap" >
        </div>
      </ng-template> 
    </owl-carousel-o>
    <div class="chevrons">
      <fa-icon [icon]="faChevronCircleRight" class="chevronRight"></fa-icon>
      <fa-icon [icon]="faChevronCircleLeft" class="chevronLeft"></fa-icon>
    </div>

    <h2 class="section-titles">Upcoming</h2>
    <owl-carousel-o [options]="customOptions"   >
      <ng-template carouselSlide *ngFor="let movie of upcoming?.results" >  
        <div class="card" (click)="singleMovieNavigate($event,movie.id)">
          <p class="movie-title">{{movie.title}}</p>
          <img class="card-img-top image-size single-image" src="{{movie.backdrop_path}}" alt="Card image cap" >
        </div>
      </ng-template> 
    </owl-carousel-o>
    <div class="chevrons">
      <fa-icon [icon]="faChevronCircleRight" class="chevronRight"></fa-icon>
      <fa-icon [icon]="faChevronCircleLeft" class="chevronLeft"></fa-icon>
    </div>

     


   </div> 
 </div>
  
