.body{
    background-color: #212529;
}

.card{
     height: 350px;
     margin-right: 10px;
     margin-left: 10px;
}
 

.card-body{
    height: 20px !important
}
.card-img-top{
    height: 350px;
}
body {background-color: #212529;}

.chevronright{
    background-color: transparent;
    color: white;
    font: 2em sans-serif;
    position: relative;
    left: 1640px;
    bottom: 200px;
    opacity: 0;
    transition: opacity 3s;
     
}.movies-section:hover .chevronright {  
    opacity: 1;
    transition: opacity 0s;
}




 
.chevronLeft{
    background-color: transparent;
    color: white;
    font: 2em sans-serif;
    position: relative;
    right: 67px;
    bottom:190px;
    opacity: 0;
    transition: opacity 3s;
}.movies-section:hover .chevronLeft {  
    opacity: 1;
    transition: opacity 0s;
}
 



.movies-section{
    background-color: #212529;
    padding: 0 40px 0 40px;
    position: relative;
    bottom: 180px;
}

.section-titles{
    color: white;
    padding:  20px ;
    font-family: 'Noto Sans', sans-serif;
}
.main-image{
     
    width: 100%;
    height: 550px;
  
}

.main-image-area{
    position: relative;
}
.main-image-button{
    position: relative;
    top:-280px;
    left: 1100px;
    color: white;
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    border-color: white;
    height: 40px;
    width: 70px;
}.main-image-button:hover{
    color:red;
    border-color: red;
}


.main-image-title{
    position: relative;
    color: red;
    font-family: 'Noto Sans', sans-serif;
    top:-280px;
    left: 1100px;
}
.main-image-text{
    position: relative;
    color:white;
    top:-280px;
    left: 1100px;
    width: 500px;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
}

.main-movie-text-area{
    position: relative;
    top:15px
}