 

 <div class="body  ">
  <div class="main-image-area">
    <img src="https://wallpaper.dog/large/5569451.png"  class="main-image">
    <div class="main-movie-text-area">
      <h2 class="main-image-title">The Punisher</h2>
      <p class="main-image-text">Marvel's The Punisher is an American television series created by Steve 
        Lightfoot for the streaming service Netflix, based on the Marvel Comics character Punisher. It is
        set in the Marvel Cinematic Universe (MCU), acknowledging the continuity of the franchise's films
        
        and other television series. </p>

    <button class="main-image-button">Play</button>
    <!-- <button class="main-image-button">Watch Later</button> -->


    </div>
    
  </div>
  <div class="movies-section carousel-wrap">
    <owl-carousel-o [options]="customOptions"    >
      <ng-template carouselSlide *ngFor="let movie of allMovies.d" style="width: 200px; background-color: black;">  
        <div class="card" >
          <img class="card-img-top image-size" src="{{movie.i.imageUrl}}" alt="Card image cap" >
         
        </div>
      </ng-template> 
    </owl-carousel-o>
    <h2 class="section-titles">Populer On Netflix</h2>
    <owl-carousel-o [options]="customOptions"   >
      <ng-template carouselSlide *ngFor="let movie of upcomingMovies.d" style="width: 200px;">  
        <div class="card" >
          <img class="card-img-top image-size" src="{{movie.i.imageUrl}}" alt="Card image cap" >
        </div>
      </ng-template> 
    </owl-carousel-o>

    <h2 class="section-titles">Populer On Netflix</h2>
    <owl-carousel-o [options]="customOptions"   >
      <ng-template carouselSlide *ngFor="let movie of upcomingMovies.d" style="width: 200px;">  
        <div class="card" >
          <img class="card-img-top image-size" src="{{movie.i.imageUrl}}" alt="Card image cap" >
        </div>
      </ng-template> 
    </owl-carousel-o>
  
   </div> 
 </div>
  
