.body{
    background-color: #212529;
}

.card{
     height: 350px;
     margin-right: 10px;
     margin-left: 10px;
}
 

.card-body{
    height: 20px !important
}
.card-img-top{
    height: 350px;
}
body {background-color: #212529;}

.chevronRight{
    background-color: transparent;
    color: white;
    font: 2em sans-serif;
    position: absolute;
    left: 1634px;
    bottom: 160px;
    opacity: 0;
     
}.movies-section:hover .chevronRight {  
    opacity: 1;
    transition: opacity 0.5s;
}

.card{
    height:352px;
}


 
.chevronLeft{
    background-color: transparent;
    color: white;
    font: 2em sans-serif;
    position: absolute;
    left: -29px;
    bottom: 160px;
    opacity:0;

  
}.movies-section:hover .chevronLeft {  
    opacity: 1;
    transition: opacity 0.5s;
}
 
.chevrons{
    position: relative;
}


.movies-section{
    background-color: #212529;
    padding: 0 40px 0 40px;
    position: relative;
    bottom: 180px;
}
.movie-title{
    position: absolute;
    color: purple;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    top:50%;
    opacity: 0;
   

}

 
.card:hover .movie-title{
   color: red;
   opacity: 1;
   transition: opacity 0.5s;
   font-size: xx-large;
    
}
.section-titles{
    color: white;
    padding:  20px ;
    font-family: 'Noto Sans', sans-serif;
}

 
.main-image{
     
    width: 100%;
    height: 750px;
  
}

.main-image-area{
    position: relative;
}
.main-image-button{
    position: relative;
    top:-280px;
    left: 1100px;
    color: white;
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    border-color: white;
    height: 40px;
    width: 70px;
}.main-image-button:hover{
    color:red;
    border-color: red;
}


.main-image-title{
    position: relative;
    color: red;
    font-family: 'Noto Sans', sans-serif;
    top:-280px;
    left: 1100px;
}
.main-image-text{
    position: relative;
    color:white;
    top:-280px;
    left: 1100px;
    width: 600px;
    font-size: small;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
}

.main-movie-text-area{
    position: absolute;
    top:650px;
    left:  -50px;
}